Repository doublegate/CyberChef-MCP: changes, and which Codecov flags are due for each by the changed paths.
All: mcp-tests, core-tests, node-api, MCP Server, Core Operations, Node.js API

ci: bootstrap the agy reviewer on this repo's first install
  .github/workflows/antigravity-review.yml
Due: none

ci: configure CodeRabbit and refresh Copilot review instructions
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/instructions/mcp-layer.instructions.md
  .github/instructions/upstream-sync.instructions.md
  .github/instructions/workflows.instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

build(docker): pin Chainguard base images by digest
  Dockerfile.mcp
Due: none

test: generate the operations test index and polyfill wasm fetch
  .gitignore
  src/core/config/scripts/generateOpsIndex.mjs
  tests/lib/wasmFetchPolyfill.mjs
  tests/operations/index.mjs
  tests/operations/tests/Fernet.mjs
  tests/operations/tests/IPv6Transition.mjs
  tests/operations/tests/ParseX509CRL.mjs
Due: core-tests

build: require Node 24 and drop flags Node no longer accepts
  .github/workflows/core-ci.yml
  .github/workflows/performance-benchmarks.yml
  .github/workflows/pull_requests.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/upstream-monitor.yml
  .github/workflows/upstream-sync.yml
  .nvmrc
  package.json
Due: none

ci: put reviewer config on the default branch
  .coderabbit.yaml
  .github/copilot-instructions.md
  .github/instructions/mcp-layer.instructions.md
  .github/instructions/upstream-sync.instructions.md
  .github/instructions/workflows.instructions.md
Due: none

ci: unbreak Security Scan on the default branch
  .github/workflows/mcp-docker-build.yml
  .github/workflows/mcp-release.yml
  .github/workflows/security-scan.yml
Due: none

feat!: relicense to GPL-3.0-or-later
  Dockerfile.mcp
  LICENSE
  LICENSE.Apache-2.0
  NOTICE
  README.md
  THIRD-PARTY-NOTICES.md
  docs/adr/0001-relicense-to-gpl-3-0-or-later.md
  docs/guides/upstream-sync-guide.md
  package.json
  src/node/deprecation.mjs
  src/node/errors.mjs
  src/node/logger.mjs
  src/node/mcp-server.mjs
  src/node/recipe-manager.mjs
  src/node/recipe-storage.mjs
  src/node/recipe-validator.mjs
  src/node/retry.mjs
  src/node/streaming.mjs
  src/node/transports.mjs
  src/node/worker-pool.mjs
  src/node/worker.mjs
  tests/mcp/config-variations.test.mjs
  tests/mcp/coverage-improvement.test.mjs
  tests/mcp/deprecation.test.mjs
  tests/mcp/errors.test.mjs
  tests/mcp/handler-dispatch.test.mjs
  tests/mcp/logger.test.mjs
  tests/mcp/mcp-server.test.mjs
  tests/mcp/migration-preview.test.mjs
  tests/mcp/real-server-handlers.test.mjs
  tests/mcp/recipe-manager.test.mjs
  tests/mcp/recipe-storage.test.mjs
  tests/mcp/recipe-validator.test.mjs
  tests/mcp/retry.test.mjs
  tests/mcp/server-integration.test.mjs
  tests/mcp/streaming.test.mjs
  tests/mcp/transports.test.mjs
  tests/mcp/v1.7.0.test.mjs
  tests/mcp/validation.test.mjs
  tests/mcp/worker-pool.test.mjs
Due: mcp-tests, MCP Server

ci: repair the default branch's failing CI
  .github/workflows/mcp-docker-build.yml
  .github/workflows/security-scan.yml
  tests/operations/tests/PGP.mjs
Due: none

docs: changelog entry, combined copyright, and licence file mode
  CHANGELOG.md
  LICENSE.Apache-2.0
  package.json
Due: none

fix(deps): clear all 10 CRITICAL container vulnerabilities
  package-lock.json
  package.json
Due: none

docs: correct four stale facts the reviewers caught
  .coderabbit.yaml
  .github/copilot-instructions.md
  Dockerfile.mcp
Due: none

docs(ci): use en-GB, and state the real Node floor
  .coderabbit.yaml
  .github/copilot-instructions.md
Due: none

docs(ci): set reviewer language to en-US
  .coderabbit.yaml
Due: none

refactor: decompose mcp-server.mjs into lib modules
  src/node/lib/batch.mjs
  src/node/lib/cache.mjs
  src/node/lib/config.mjs
  src/node/lib/memory.mjs
  src/node/lib/quota.mjs
  src/node/lib/rate-limit.mjs
  src/node/lib/telemetry.mjs
  src/node/lib/tool-schema.mjs
  src/node/mcp-server.mjs
Due: mcp-tests, MCP Server

style: clear the last two lint warnings
  Gruntfile.js
  src/node/mcp-server.mjs
Due: mcp-tests, MCP Server

chore(deps): refresh caniuse-lite browser data
  package-lock.json
Due: none

ci: remove the dead web-app Dockerfile
  Dockerfile
Due: none

ci: drop the .dockerignore carve-out for the removed Dockerfile
  .dockerignore
Due: none

ci: install the Antigravity reviewer on the default branch
  .github/actionlint.yaml
  .github/agy-review.md
  .github/workflows/antigravity-review.yml
  .gitignore
  scripts/_agy_comment_body.sh
  scripts/_agy_print.sh
  scripts/agy-review-selftest.sh
  scripts/agy-review.sh
Due: none

fix(ci): gate agy reviewer execution on real write access, not author_association
  .github/workflows/antigravity-review.yml
  scripts/agy-review-selftest.sh
  scripts/agy-review.sh
Due: none

docs(ci): correct a stale reference to the author-association gate
  scripts/agy-review.sh
Due: none

fix(ci): surface permission-lookup failures instead of swallowing them
  .github/workflows/antigravity-review.yml
  scripts/agy-review.sh
Due: none

docs(changelog): record the Antigravity PR reviewer under Unreleased
  CHANGELOG.md
Due: none

docs(ci): state the reviewer's bot-identity coupling and shell style exemption
  .github/agy-review.md
  scripts/agy-review.sh
Due: none

fix(ci): correct the @uri comment, drop a needless chmod, scope the shell style rule
  .github/agy-review.md
  .github/workflows/antigravity-review.yml
  scripts/agy-review.sh
Due: none

docs(ci): record why the diff cap is a byte cut rather than line-aware
  scripts/agy-review.sh
Due: none

fix(security): keep the fetch token out of argv, and validate the PR number
  scripts/agy-review.sh
Due: none

ci: run CI on release/** branches, not only master
  .github/workflows/codeql.yml
  .github/workflows/core-ci.yml
  .github/workflows/mcp-docker-build.yml
  .github/workflows/security-scan.yml
Due: none

ci: clear all 135 actionlint findings across the workflows
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/upstream-monitor.yml
  .github/workflows/upstream-sync.yml
Due: none

ci: drop grep from the sync operation counts entirely
  .github/workflows/upstream-sync.yml
Due: none

ci: use printf for the rollback summary's commit message
  .github/workflows/rollback.yml
Due: none

fix(security): remove dead SafeRegex module and correct the docs that claimed it
  CHANGELOG.md
  README.md
  docs/internal/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/internal/MASTER_PR_SUMMARY.md
  docs/reference/cyberchef-upstream.md
  docs/releases/v1.4.1.md
  docs/security/2026-08-30-saferegex-reverted-by-upstream-sync.md
  docs/security/SECURITY_FIXES_SUMMARY.md
  docs/security/SECURITY_FIX_REPORT.md
  docs/security/SECURITY_VULNERABILITY_FIX_MASTER_REPORT.md
  src/core/lib/SafeRegex.mjs
Due: core-tests

fix(deps): clear every Node runtime warning at startup
  CHANGELOG.md
  package-lock.json
  package.json
  src/core/operations/FromPunycode.mjs
  src/core/operations/ToPunycode.mjs
Due: core-tests, Core Operations

feat(security): reinstate ReDoS screening where a sync cannot revert it
  CHANGELOG.md
  src/node/lib/safe-regex.mjs
  src/node/lib/tool-schema.mjs
  tests/mcp/safe-regex.test.mjs
Due: mcp-tests, MCP Server

ci: stop the benchmark workflow failing on its own comment step
  .github/workflows/performance-benchmarks.yml
Due: none

fix(security): close a lazy-quantifier bypass and stop rejecting safe patterns
  CHANGELOG.md
  src/node/lib/safe-regex.mjs
  tests/mcp/safe-regex.test.mjs
Due: mcp-tests, MCP Server

docs: fix a stale table row this PR missed, and correct the banner wording
  README.md
  docs/internal/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/internal/MASTER_PR_SUMMARY.md
  docs/reference/cyberchef-upstream.md
  docs/releases/v1.4.1.md
  docs/security/SECURITY_FIXES_SUMMARY.md
  docs/security/SECURITY_FIX_REPORT.md
  docs/security/SECURITY_VULNERABILITY_FIX_MASTER_REPORT.md
Due: none

docs(changelog): merge the duplicate Fixed heading under [Unreleased]
  CHANGELOG.md
Due: none

ci: isolate benchmark execution from the write-scoped token
  .github/workflows/performance-benchmarks.yml
Due: none

Path conditions:
  mcp-tests: any of: src/node/mcp-server.mjs, src/node/lib/**
  core-tests: any of: src/core/**
  node-api: any of: src/node/index.mjs, src/node/wrapper.js
  MCP Server: any of: src/node/mcp-server.mjs, src/node/lib/**
  Core Operations: any of: src/core/operations/**, but not: src/core/operations/legacy/**
  Node.js API: any of: src/node/index.mjs, src/node/wrapper.js, src/node/config/**
