Repository doublegate/CyberChef-MCP: changes, and which Codecov flags are due for each by the changed paths.
All: mcp-tests, core-tests, node-api, MCP Server, Core Operations, Node.js API

test(mcp): dispatch the request handlers in-process, restoring the coverage gate
  docs/internal/v2.2.0-findings-log.md
  tests/mcp/in-process-handlers.test.mjs
  tests/mcp/lib-internals.test.mjs
  vitest.config.mjs
Due: none

fix(crypto): compute LM Hash without OpenSSL, and stop one hash losing twenty
  docs/internal/v2.2.0-findings-log.md
  patches/fork/06-lmhash-pure-js-des.patch
  patches/fork/07-generate-all-hashes-degrade.patch
  patches/fork/README.md
  src/core/operations/GenerateAllHashes.mjs
  src/core/operations/LMHash.mjs
Due: core-tests, Core Operations

feat(mcp): return images as image blocks, and stop deleting them
  docs/internal/v2.2.0-findings-log.md
  src/node/lib/content-blocks.mjs
  src/node/lib/core-recipe.mjs
  src/node/mcp-server.mjs
  tests/mcp/content-blocks.test.mjs
Due: mcp-tests, MCP Server

fix(recipes): validate an unsaved recipe, and drop the inert OpenSSL flag
  Dockerfile.mcp
  docs/guides/user_guide.md
  docs/internal/v2.2.0-findings-log.md
  docs/releases/v2.1.0.md
  package.json
  src/node/recipe-manager.mjs
  src/node/recipe-validator.mjs
  tests/mcp/in-process-handlers.test.mjs
Due: none

ci: gate pull requests on the MCP suite and coverage
  .github/workflows/core-ci.yml
  .github/workflows/pull_requests.yml
  docs/internal/v2.2.0-findings-log.md
Due: none

docs(release): make v2.1.1 note links absolute, pinned to the tag
  docs/releases/v2.1.1.md
Due: none

test(mcp): act on the Antigravity review of the new unit tests
  tests/mcp/lib-internals.test.mjs
Due: none

feat(mcp): annotate every tool, so a client can stop asking
  src/node/lib/tool-annotations.mjs
  src/node/mcp-server.mjs
  tests/mcp/tool-annotations.test.mjs
Due: mcp-tests, MCP Server

fix(mcp): reject unknown argument names instead of silently defaulting them
  docs/internal/v2.2.0-findings-log.md
  src/node/lib/core-recipe.mjs
  src/node/lib/tool-schema.mjs
  src/node/mcp-server.mjs
  tests/mcp/lib-internals.test.mjs
Due: mcp-tests, MCP Server

fix(mcp): advertise both argument forms for a recipe step
  docs/internal/v2.2.0-findings-log.md
  src/node/mcp-server.mjs
  tests/mcp/in-process-handlers.test.mjs
  tests/mcp/lib-internals.test.mjs
Due: mcp-tests, MCP Server

feat(mcp): return audio as an audio block, completing the multi-modal theme
  docs/internal/v2.2.0-findings-log.md
  src/node/lib/content-blocks.mjs
  tests/mcp/content-blocks.test.mjs
Due: mcp-tests, MCP Server

ci(release): rewrite relative links in release notes at publish time
  .github/workflows/mcp-release.yml
  docs/internal/v2.2.0-findings-log.md
  scripts/absolutise-release-links.py
  tests/mcp/release-links.test.mjs
Due: none

feat(mcp): serve prompts and resources, the two surfaces this server never had
  src/node/lib/prompts.mjs
  src/node/lib/resources.mjs
  src/node/mcp-server.mjs
  tests/mcp/prompts-resources.test.mjs
Due: mcp-tests, MCP Server

docs: bring every document up to v2.2.0, and stop the examples writing to the repo
  .cspell.json
  .gitignore
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/guides/tutorial.md
  docs/guides/user_guide.md
  docs/internal/v2.2.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v2.2.0.md
  examples/09-prompts-and-media.mjs
  examples/README.md
  examples/_lib.mjs
  package.json
  recipes.json
Due: none

feat(pkg): package identity, the migrate CLI, and outputSchema on the navigation tools
  .github/workflows/mcp-release.yml
  .github/workflows/upstream-monitor.yml
  CHANGELOG.md
  Gruntfile.js
  docs/internal/v2.2.0-findings-log.md
  docs/releases/v2.2.0.md
  eslint.config.mjs
  package.json
  scripts/patch-dependencies.mjs
  server.json
  src/node/cli/migrate.mjs
  src/node/lib/config.mjs
  src/node/mcp-server.mjs
  tests/mcp/in-process-handlers.test.mjs
  tests/mcp/migrate-cli.test.mjs
  tests/node/consumers/cjs-consumer.js
  tests/node/consumers/esm-consumer.mjs
Due: mcp-tests, MCP Server

fix(scripts): remove the check-then-read races CodeQL flagged
  scripts/patch-dependencies.mjs
Due: none

fix(mcp): structured errors for prompts and resources, and correct the AGENTS.md version note
  AGENTS.md
  src/node/lib/prompts.mjs
  src/node/lib/resources.mjs
Due: mcp-tests, MCP Server

fix: act on the CodeRabbit review — six defects in this release's own code
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/internal/v2.2.0-findings-log.md
  docs/releases/v2.2.0.md
  patches/fork/06-lmhash-pure-js-des.patch
  patches/fork/07-generate-all-hashes-degrade.patch
  server.json
  src/core/operations/GenerateAllHashes.mjs
  src/core/operations/LMHash.mjs
  src/node/cli/migrate.mjs
  src/node/lib/tool-annotations.mjs
  src/node/mcp-server.mjs
  tests/mcp/migrate-cli.test.mjs
  tests/mcp/prompts-resources.test.mjs
  tests/mcp/tool-annotations.test.mjs
Due: mcp-tests, core-tests, MCP Server, Core Operations

fix(image): return the image, not the buffer pool it was allocated in
  patches/fork/09-image-ops-return-pooled-buffer.patch
  src/core/operations/BlurImage.mjs
  src/core/operations/ContainImage.mjs
  src/core/operations/ConvertImageFormat.mjs
  src/core/operations/CoverImage.mjs
  src/core/operations/CropImage.mjs
  src/core/operations/DitherImage.mjs
  src/core/operations/FlipImage.mjs
  src/core/operations/ImageBrightnessContrast.mjs
  src/core/operations/ImageFilter.mjs
  src/core/operations/ImageHueSaturationLightness.mjs
  src/core/operations/ImageOpacity.mjs
  src/core/operations/InvertImage.mjs
  src/core/operations/NormaliseImage.mjs
  src/core/operations/ResizeImage.mjs
  src/core/operations/RotateImage.mjs
  src/core/operations/SharpenImage.mjs
  vitest.config.mjs
Due: core-tests, Core Operations

fix(image): load Add Text To Image fonts from disk so it works under Node
  patches/fork/10-add-text-to-image-node-fonts.patch
  src/core/operations/AddTextToImage.mjs
  src/vendor/bmfonts/README.md
  src/vendor/bmfonts/Roboto72White.fnt
  src/vendor/bmfonts/Roboto72White.png
  src/vendor/bmfonts/RobotoBlack72White.fnt
  src/vendor/bmfonts/RobotoBlack72White.png
  src/vendor/bmfonts/RobotoMono72White.fnt
  src/vendor/bmfonts/RobotoMono72White.png
  src/vendor/bmfonts/RobotoSlab72White.fnt
  src/vendor/bmfonts/RobotoSlab72White.png
  tests/mcp/image-operations.test.mjs
Due: core-tests, Core Operations

docs: record the v2.3.0 findings chain and the three new fork patches
  CHANGELOG.md
  docs/internal/v2.3.0-findings-log.md
  patches/fork/README.md
Due: none

feat(mcp): serve protocol revision 2026-07-28 by migrating to MCP SDK v2
  .github/SECURITY_MAINTENANCE.md
  .github/agents/copilot-instructions.md
  .github/copilot-instructions.md
  CHANGELOG.md
  docs/architecture/technical_implementation.md
  docs/internal/v2.3.0-findings-log.md
  package-lock.json
  package.json
  src/node/mcp-server.mjs
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
  tests/mcp/protocol-eras.test.mjs
  tests/mcp/transports.test.mjs
Due: mcp-tests, MCP Server

feat(http): serve protocol revision 2026-07-28 over HTTP, routed per request
  CHANGELOG.md
  docs/internal/v2.3.0-findings-log.md
  src/node/transports.mjs
  tests/mcp/http-protocol-eras.test.mjs
Due: none

docs: correct v2.3.0's transport theme, which names a transport that does not exist
  docs/internal/v2.3.0-findings-log.md
  docs/planning/ROADMAP.md
Due: none

feat(transport): serve MCP over a Unix domain socket or loopback TCP
  CHANGELOG.md
  docs/guides/user_guide.md
  docs/internal/v2.3.0-findings-log.md
  src/node/mcp-server.mjs
  src/node/transports.mjs
  tests/mcp/socket-transport.test.mjs
  vitest.config.mjs
Due: mcp-tests, MCP Server

test(coverage): raise the gate from 75/70/90/75, and fix two defects found doing it
  CHANGELOG.md
  codecov.yml
  docs/internal/v2.3.0-findings-log.md
  src/node/mcp-server.mjs
  src/node/recipe-validator.mjs
  src/node/streaming.mjs
  tests/mcp/lib-internals.test.mjs
  tests/mcp/socket-transport.test.mjs
  tests/mcp/streaming.test.mjs
  tests/mcp/worker.test.mjs
  vitest.config.mjs
Due: mcp-tests, MCP Server

docs: v2.3.0 documentation pass and version bump
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/planning/ROADMAP.md
  docs/registry/dockerhub-description.md
  docs/releases/v2.3.0.md
  package.json
  server.json
Due: none

fix(ci): act on the two CodeQL alerts and the patch-coverage gate firing
  .github/codeql/codeql-config.yml
  CHANGELOG.md
  codecov.yml
  docs/internal/v2.3.0-findings-log.md
  tests/mcp/http-protocol-eras.test.mjs
  tests/mcp/socket-transport.test.mjs
Due: none

docs: fix a backtick-escaping artifact in the v2.3.0 findings log
  docs/internal/v2.3.0-findings-log.md
Due: none

docs: act on the Copilot review — two real staleness bugs and one misread
  .github/agents/copilot-instructions.md
  docs/architecture/technical_implementation.md
  vitest.config.mjs
Due: none

docs: the last Node v22 reference in the agent guidance
  .github/agents/copilot-instructions.md
Due: none

fix(socket): act on the CodeRabbit review — a leak, a umask window, and two false claims
  CHANGELOG.md
  README.md
  docs/internal/v2.3.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v2.3.0.md
  src/node/transports.mjs
  src/vendor/bmfonts/README.md
  src/vendor/crypto-api/README.md
  src/vendor/crypto-api/index.mjs
  tests/mcp/image-operations.test.mjs
  tests/mcp/lib-internals.test.mjs
  vitest.config.mjs
Due: none

docs: label the packed-install probe as pre-bump in the findings log
  docs/internal/v2.3.0-findings-log.md
Due: none

fix(socket): log teardown failures instead of discarding them
  src/node/transports.mjs
Due: none

docs: record where each upstream finding was reported
  docs/internal/v2.3.0-findings-log.md
Due: none

docs: record the upstream advisory's rating and affected range
  docs/internal/v2.3.0-findings-log.md
Due: none

docs(security): make the reporting policy correct, and record what is enabled
  .cspell.json
  SECURITY.md
Due: none

docs: publish a generated documentation site and a wiki
  .cspell.json
  .github/workflows/docs-site.yml
  .github/workflows/wiki-sync.yml
  docs-site/.gitignore
  docs-site/astro.config.mjs
  docs-site/package-lock.json
  docs-site/package.json
  docs-site/scripts/collect.mjs
  docs-site/src/content.config.mjs
  docs-site/src/styles/custom.css
  docs/wiki/Client-Setup.md
  docs/wiki/FAQ.md
  docs/wiki/Home.md
  docs/wiki/Recipes.md
  docs/wiki/Troubleshooting.md
  docs/wiki/_Footer.md
  docs/wiki/_Sidebar.md
  eslint.config.mjs
Due: none

feat(tools): add the registry for tools that are not CyberChef operations
  src/node/tools/registry.mjs
Due: none

Path conditions:
  mcp-tests: any of: src/node/mcp-server.mjs, src/node/lib/**
  core-tests: any of: src/core/**
  node-api: any of: src/node/index.mjs, src/node/wrapper.js
  MCP Server: any of: src/node/mcp-server.mjs, src/node/lib/**
  Core Operations: any of: src/core/operations/**, but not: src/core/operations/legacy/**
  Node.js API: any of: src/node/index.mjs, src/node/wrapper.js, src/node/config/**
