Repository doublegate/CyberChef-MCP: changes, and which Codecov flags are due for each by the changed paths.
All: mcp-tests, core-tests, node-api, MCP Server, Core Operations, Node.js API

codecov.yml:

# Codecov Configuration
# Comprehensive setup for Coverage Analytics, Bundle Analysis, and Test Analytics
# Documentation: https://docs.codecov.com/docs/codecovyml-reference

# Coverage Analytics Configuration
coverage:
  # Coverage precision and display settings
  precision: 2
  round: down
  range: 70..90  # Red below 70%, yellow 70-90%, green above 90%

  # Coverage status checks
  status:
    # Overall project coverage
    project:
      default:
        target: 70%              # Minimum coverage required
        threshold: 1%            # Allow 1% decrease without failing
        base: auto
        if_ci_failed: error

    # Coverage on changed files only (patch coverage)
    patch:
      default:
        target: 75%              # Higher target for new code
        threshold: 2%
        base: auto
        if_ci_failed: error

  # Path exclusions - files not counted in coverage
  ignore:
    - "node_modules/**"
    - "build/**"
    - "dist/**"
    - "tests/**"
    - "benchmarks/**"
    - "scripts/**"
    - "src/web/**"                # Web UI (not part of MCP server)
    - "src/core/vendor/**"        # Third-party vendor code
    - "src/core/operations/legacy/**"  # Legacy operations
    - "**/*.test.mjs"
    - "**/*.config.js"
    - "**/*.config.mjs"
    - "Gruntfile.js"
    - "webpack.config.js"
    - "nightwatch.conf.js"
    - "**/consumers/**"           # Test consumers

# Pull Request Comments
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default             # Post comment on every PR
  require_changes: false        # Always post, even if no coverage change
  require_base: false           # Post even if base branch has no coverage
  require_head: true            # Require head coverage to post

# Flags for different test types
# Allows tracking coverage from different test suites separately
flags:
  mcp-tests:
    paths:
      - src/node/mcp-server.mjs
      - src/node/lib/**
    carryforward: true          # Use previous coverage if not uploaded

  core-tests:
    paths:
      - src/core/**
    carryforward: true

  node-api:
    paths:
      - src/node/index.mjs
      - src/node/wrapper.js
    carryforward: true

# Component-level coverage tracking
component_management:
  individual_components:
    # MCP Server component
    - component_id: mcp-server
      name: "MCP Server"
      paths:
        - src/node/mcp-server.mjs
        - src/node/lib/**

    # Core Operations component
    - component_id: core-operations
      name: "Core Operations"
      paths:
        - src/core/operations/**
        - "!src/core/operations/legacy/**"

    # Node API component
    - component_id: node-api
      name: "Node.js API"
      paths:
        - src/node/index.mjs
        - src/node/wrapper.js
        - src/node/config/**

# GitHub Checks configuration
github_checks:
  annotations: true             # Show line-by-line annotations on PRs

# Codecov UI Settings (deprecated, removed in newer versions)
# ui:
#   hide_density: false           # Show coverage density in UI
#   hide_complexity: false        # Show cyclomatic complexity

# Slack notifications (disabled by default)
slack_app: false

# Profiling (disabled for public repos)
profiling:
  critical_files_paths:
    - src/node/mcp-server.mjs
    - src/core/operations/*.mjs

check:versions asserts the Docker Hub image name (#117)
  AGENTS.md
  CHANGELOG.md
  scripts/check-version-consistency.mjs
Due: none

chore(benchmarks): recapture the baseline on the runner
  benchmarks/baseline.json
Due: none

ci(benchmarks): push the baseline branch, since Actions may not open the PR
  .github/workflows/benchmark-baseline.yml
  docs/internal/v3.4.0-findings-log.md
Due: none

fix(forensics): Unzip, Untar and Extract Files never worked through this server
  patches/fork/11-utils-readfile-accepts-file.patch
  patches/fork/README.md
  src/core/Utils.mjs
  src/node/lib/core-recipe.mjs
  tests/mcp/list-file-output.test.mjs
Due: mcp-tests, core-tests, MCP Server

fix(registry): server.json was invalid, and both ownership proofs were missing
  .github/workflows/core-ci.yml
  .github/workflows/pull_requests.yml
  Dockerfile.mcp
  docs/internal/v3.4.0-findings-log.md
  package.json
  scripts/check-server-json.mjs
  server.json
Due: none

perf(benchmarks): capture the baseline on the runner, and bring 50% down to 20%
  benchmarks/baseline.json
  benchmarks/capture-baseline.mjs
  benchmarks/check-regression.mjs
  docs/internal/measurements/v3.4.0-runner-baseline.md
  docs/internal/v3.4.0-findings-log.md
Due: none

feat(tools): ecdsa_recover, for the nonce reuse the ECDSA operations cannot see
  docs/internal/v3.4.0-findings-log.md
  src/node/tools/ecdsa-recover.mjs
  src/node/tools/index.mjs
  tests/mcp/ecdsa-recover.test.mjs
  tests/mcp/stdio-client-contract.test.mjs
Due: none

docs(v3.4.0): release notes, version bump, and the numbers re-measured
  AGENTS.md
  CHANGELOG.md
  README.md
  benchmarks/README.md
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/guides/commands.md
  docs/guides/user_guide.md
  docs/internal/v3.4.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/planning/v3/charters/v3.3.0-external-tools.md
  docs/releases/v3.4.0.md
  docs/wiki/Client-Setup.md
  docs/wiki/FAQ.md
  docs/wiki/Release-History.md
  docs/wiki/Tool-Surface.md
  docs/wiki/Troubleshooting.md
  package-lock.json
  package.json
  server.json
  tests/mcp/list-file-output.test.mjs
Due: none

perf(core-recipe): scan for printable bytes with a loop, not Array.every
  src/node/lib/core-recipe.mjs
  src/node/tools/ecdsa-recover.mjs
Due: mcp-tests, MCP Server

fix(ecdsa_recover): measure a hash by its cleaned length, not as written
  src/node/tools/ecdsa-recover.mjs
  src/node/tools/rsa-attack.mjs
  tests/mcp/ecdsa-recover.test.mjs
Due: none

fix: eleven valid review findings, one of which changed a design
  .github/workflows/benchmark-baseline.yml
  benchmarks/capture-baseline.mjs
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/internal/measurements/v3.4.0-runner-baseline.md
  docs/internal/v3.4.0-findings-log.md
  docs/wiki/FAQ.md
  scripts/check-server-json.mjs
  src/node/lib/core-recipe.mjs
  src/node/lib/tool-catalog.mjs
  src/node/tools/ecdsa-recover.mjs
  tests/mcp/check-server-json.test.mjs
  tests/mcp/ecdsa-recover.test.mjs
  tests/mcp/list-file-output.test.mjs
Due: mcp-tests, MCP Server

revert(benchmarks): 20% did not survive CI; the tolerance goes back to 50%
  .github/workflows/benchmark-baseline.yml
  AGENTS.md
  CHANGELOG.md
  benchmarks/README.md
  benchmarks/baseline.json
  benchmarks/check-regression.mjs
  docs/internal/measurements/v3.4.0-runner-baseline.md
  docs/internal/v3.4.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/planning/v3/charters/v3.3.0-external-tools.md
  docs/releases/v3.4.0.md
  docs/wiki/Release-History.md
Due: none

feat(v3.5.0): the registry's own validator, a same-host benchmark, and a listing
  .github/workflows/core-ci.yml
  .github/workflows/performance-benchmarks.yml
  .github/workflows/publish-mcp.yml
  .github/workflows/pull_requests.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  benchmarks/README.md
  benchmarks/compare-runs.mjs
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/internal/measurements/v3.5.0-same-host-comparison.md
  docs/internal/v3.5.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.5.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  scripts/check-server-json.mjs
  server.json
  tests/mcp/check-server-json.test.mjs
Due: none

fix(benchmarks): the same-host guard skipped every release PR
  .github/workflows/performance-benchmarks.yml
  benchmarks/deps-identical.mjs
  docs/internal/v3.5.0-findings-log.md
Due: none

docs(v3.5.0): the same-host comparison, measured on a runner
  CHANGELOG.md
  docs/internal/measurements/v3.5.0-same-host-comparison.md
  docs/releases/v3.5.0.md
Due: none

fix: seven review findings on PR #119, all valid
  .github/workflows/performance-benchmarks.yml
  .github/workflows/publish-mcp.yml
  CHANGELOG.md
  benchmarks/compare-runs.mjs
  docs/internal/measurements/v3.5.0-same-host-comparison.md
  docs/internal/v3.5.0-findings-log.md
  docs/planning/ROADMAP.md
  scripts/check-server-json.mjs
Due: none

docs(benchmarks): record the second runner measurement, which is wider than the first
  docs/internal/measurements/v3.5.0-same-host-comparison.md
Due: none

v3.5.0: the registry's own validator, a same-host benchmark, and a listing (#119)
  .github/workflows/core-ci.yml
  .github/workflows/performance-benchmarks.yml
  .github/workflows/publish-mcp.yml
  .github/workflows/pull_requests.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  benchmarks/README.md
  benchmarks/compare-runs.mjs
  benchmarks/deps-identical.mjs
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/internal/measurements/v3.5.0-same-host-comparison.md
  docs/internal/v3.5.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.5.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  scripts/check-server-json.mjs
  server.json
  tests/mcp/check-server-json.test.mjs
Due: none

fix(publish-mcp): the job budget was smaller than the wait it contained
  .github/workflows/publish-mcp.yml
  docs/internal/v3.5.0-findings-log.md
Due: none

fix(registry): OCI identifiers are canonical references, and the schema does not say so
  docs/internal/v3.5.0-findings-log.md
  scripts/check-server-json.mjs
  scripts/check-version-consistency.mjs
  server.json
  tests/mcp/check-server-json.test.mjs
Due: none

feat(benchmarks): the same-host comparison becomes a gate at 25% per task
  .github/workflows/performance-benchmarks.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  benchmarks/README.md
  benchmarks/compare-runs.mjs
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/internal/v3.6.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.6.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  server.json
Due: none

fix(release): the version bump had been rewriting history for two releases
  benchmarks/compare-runs.mjs
  docs/internal/v3.6.0-findings-log.md
  scripts/bump-version.mjs
  server.json
Due: none

v3.6.0: the benchmark gate, measured into existence (#120)
  .github/workflows/performance-benchmarks.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  benchmarks/README.md
  benchmarks/compare-runs.mjs
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/internal/v3.6.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.6.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  scripts/bump-version.mjs
  server.json
Due: none

fix(gates): check:versions checked four of eleven files, for two releases
  AGENTS.md
  CHANGELOG.md
  README.md
  deploy/compose/docker-compose.yml
  deploy/grafana/README.md
  deploy/grafana/alerts.yaml
  deploy/grafana/cyberchef-mcp-dashboard.json
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/guides/edge-deployment.md
  docs/internal/v3.7.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.7.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  scripts/check-version-consistency.mjs
  server.json
  src/node/lib/node-api.mjs
  src/node/mcp-server.mjs
  tests/mcp/meta-tool-parity.test.mjs
  tests/mcp/startup-cost.test.mjs
Due: mcp-tests, MCP Server

fix(gates): do not make the check enforce a count that is not true
  deploy/compose/docker-compose.yml
  deploy/grafana/alerts.yaml
  deploy/grafana/cyberchef-mcp-dashboard.json
  deploy/helm/cyberchef-mcp/values.yaml
  docs/guides/edge-deployment.md
  docs/internal/v3.7.0-findings-log.md
  scripts/check-version-consistency.mjs
  src/node/lib/node-api.mjs
  src/node/mcp-server.mjs
  tests/mcp/startup-cost.test.mjs
Due: mcp-tests, MCP Server

v3.7.0: the gate that checked four of eleven files (#121)
  AGENTS.md
  CHANGELOG.md
  README.md
  deploy/compose/docker-compose.yml
  deploy/grafana/README.md
  deploy/grafana/alerts.yaml
  deploy/grafana/cyberchef-mcp-dashboard.json
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/guides/edge-deployment.md
  docs/internal/v3.7.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.7.0.md
  docs/wiki/Release-History.md
  package-lock.json
  package.json
  scripts/check-version-consistency.mjs
  server.json
  src/node/lib/node-api.mjs
  src/node/mcp-server.mjs
  tests/mcp/meta-tool-parity.test.mjs
  tests/mcp/startup-cost.test.mjs
Due: mcp-tests, MCP Server

feat(v3.8.0): two carried-forward blockers that were not blockers
  .github/workflows/performance-benchmarks.yml
  AGENTS.md
  CHANGELOG.md
  README.md
  deploy/compose/docker-compose.yml
  deploy/helm/cyberchef-mcp/Chart.yaml
  deploy/helm/cyberchef-mcp/values.yaml
  docs/guides/user_guide.md
  docs/internal/v3.8.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/planning/v3/task-level-scoring.md
  docs/releases/v3.8.0.md
  docs/wiki/Client-Setup.md
  docs/wiki/FAQ.md
  docs/wiki/Release-History.md
  docs/wiki/Tool-Surface.md
  docs/wiki/Troubleshooting.md
  package-lock.json
  package.json
  server.json
  src/node/lib/tool-catalog.mjs
  src/node/lib/tool-surface.mjs
  src/node/tools/cert-chain.mjs
  src/node/tools/index.mjs
  tests/mcp/cert-chain.test.mjs
  tests/mcp/fixtures/cert-imposter.pem
  tests/mcp/fixtures/cert-inter.pem
  tests/mcp/fixtures/cert-leaf.pem
  tests/mcp/fixtures/cert-root.pem
  tests/mcp/stdio-client-contract.test.mjs
Due: mcp-tests, MCP Server

docs(cert_chain): correct a header comment left stale by its own fix
  src/node/tools/cert-chain.mjs
Due: none

ci(benchmarks): trigger the benchmark workflow on edits to itself
  .github/workflows/performance-benchmarks.yml
Due: none

docs(v3.8.0): record F-04, the gate that did not trigger on itself
  CHANGELOG.md
  docs/internal/v3.8.0-findings-log.md
  docs/releases/v3.8.0.md
Due: none

feat(benchmarks): record the first arm64 numbers, and fix the job that took them
  .github/workflows/performance-benchmarks.yml
  AGENTS.md
  docs/internal/measurements/v3.8.0-arm64-first-run.md
  docs/releases/v3.8.0.md
Due: none

fix(cert_chain): separate notes from problems, and gate the surface figures
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/internal/measurements/v3.8.0-arm64-first-run.md
  docs/internal/v3.8.0-findings-log.md
  docs/releases/v3.8.0.md
  src/node/lib/tool-catalog.mjs
  src/node/tools/cert-chain.mjs
  tests/mcp/cert-chain.test.mjs
  tests/mcp/tool-surface-figures.test.mjs
Due: mcp-tests, MCP Server

docs(v3.8.0): do not let the cert_chain section read as if it always worked
  docs/releases/v3.8.0.md
Due: none

docs(v3.8.0): correct the verification block to what actually ran
  docs/releases/v3.8.0.md
Due: none

fix(cert_chain): stop the description promising an unreachable finding
  CHANGELOG.md
  docs/internal/v3.8.0-findings-log.md
  docs/releases/v3.8.0.md
  src/node/tools/cert-chain.mjs
  tests/mcp/cert-chain.test.mjs
Due: none

fix(cert_chain): checkIssued does not verify signatures -- the tool assumed it did
  CHANGELOG.md
  docs/internal/v3.8.0-findings-log.md
  docs/planning/ROADMAP.md
  docs/releases/v3.8.0.md
  docs/wiki/Release-History.md
  src/node/tools/cert-chain.mjs
  tests/mcp/cert-chain.test.mjs
  tests/mcp/fixtures/cert-skid-imposter.pem
Due: none

ci(benchmarks): guard before the code it guards, and budget the whole comment
  .github/workflows/performance-benchmarks.yml
  CHANGELOG.md
  docs/planning/v3/task-level-scoring.md
  docs/releases/v3.8.0.md
Due: none

docs(commands): add cert_chain to the user-facing tool reference
  docs/guides/commands.md
Due: none

docs: re-count the test totals, which two rows had wrong
  AGENTS.md
  docs/releases/v3.8.0.md
Due: none
