Repository doublegate/CyberChef-MCP: changes, and which Codecov flags are due for each by the changed paths.
All: mcp-tests, core-tests, node-api, MCP Server, Core Operations, Node.js API

codecov.yml:

# Codecov Configuration
# Comprehensive setup for Coverage Analytics, Bundle Analysis, and Test Analytics
# Documentation: https://docs.codecov.com/docs/codecovyml-reference

# Coverage Analytics Configuration
coverage:
  # Coverage precision and display settings
  precision: 2
  round: down
  range: 70..90  # Red below 70%, yellow 70-90%, green above 90%

  # Coverage status checks
  status:
    # Overall project coverage
    project:
      default:
        target: 70%              # Minimum coverage required
        threshold: 1%            # Allow 1% decrease without failing
        base: auto
        if_ci_failed: error

    # Coverage on changed files only (patch coverage)
    patch:
      default:
        target: 75%              # Higher target for new code
        threshold: 2%
        base: auto
        if_ci_failed: error

  # Path exclusions - files not counted in coverage
  ignore:
    - "node_modules/**"
    - "build/**"
    - "dist/**"
    - "tests/**"
    - "benchmarks/**"
    - "scripts/**"
    - "src/web/**"                # Web UI (not part of MCP server)
    - "src/core/vendor/**"        # Third-party vendor code
    - "src/core/operations/legacy/**"  # Legacy operations
    - "**/*.test.mjs"
    - "**/*.config.js"
    - "**/*.config.mjs"
    - "Gruntfile.js"
    - "webpack.config.js"
    - "nightwatch.conf.js"
    - "**/consumers/**"           # Test consumers

# Pull Request Comments
comment:
  layout: "header, diff, flags, components, footer"
  behavior: default             # Post comment on every PR
  require_changes: false        # Always post, even if no coverage change
  require_base: false           # Post even if base branch has no coverage
  require_head: true            # Require head coverage to post

# Flags for different test types
# Allows tracking coverage from different test suites separately
flags:
  mcp-tests:
    paths:
      - src/node/mcp-server.mjs
      - src/node/lib/**
    carryforward: true          # Use previous coverage if not uploaded

  core-tests:
    paths:
      - src/core/**
    carryforward: true

  node-api:
    paths:
      - src/node/index.mjs
      - src/node/wrapper.js
    carryforward: true

# Component-level coverage tracking
component_management:
  individual_components:
    # MCP Server component
    - component_id: mcp-server
      name: "MCP Server"
      paths:
        - src/node/mcp-server.mjs
        - src/node/lib/**

    # Core Operations component
    - component_id: core-operations
      name: "Core Operations"
      paths:
        - src/core/operations/**
        - "!src/core/operations/legacy/**"

    # Node API component
    - component_id: node-api
      name: "Node.js API"
      paths:
        - src/node/index.mjs
        - src/node/wrapper.js
        - src/node/config/**

# GitHub Checks configuration
github_checks:
  annotations: true             # Show line-by-line annotations on PRs

# Codecov UI Settings (deprecated, removed in newer versions)
# ui:
#   hide_density: false           # Show coverage density in UI
#   hide_complexity: false        # Show cyclomatic complexity

# Slack notifications (disabled by default)
slack_app: false

# Profiling (disabled for public repos)
profiling:
  critical_files_paths:
    - src/node/mcp-server.mjs
    - src/core/operations/*.mjs

ci: strip ANSI colour from benchmark output and fix comment spacing
  .github/workflows/performance-benchmarks.yml
Due: none

ci: widen the upstream sync to the whole tree, with fork changes as patches
  .github/workflows/upstream-monitor.yml
  .github/workflows/upstream-sync.yml
  .gitignore
  CHANGELOG.md
  docs/guides/upstream-sync-guide.md
  patches/fork/01-gost-secure-random.patch
  patches/fork/02-utils-escape-backslashes.patch
  patches/fork/03-chefworker-scoped-loglevel.patch
  patches/fork/README.md
  src/core/config/OperationConfig.json
Due: core-tests

ci: add dependabot configuration and bring actions to current majors
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/core-ci.yml
  .github/workflows/mcp-docker-build.yml
  .github/workflows/mcp-release.yml
  .github/workflows/performance-benchmarks.yml
  .github/workflows/pull_requests.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/upstream-monitor.yml
  .github/workflows/upstream-sync.yml
Due: none

fix(ci): align sync outputs with their consumers, drop a dead ESM branch
  .github/workflows/upstream-sync.yml
  CHANGELOG.md
  docs/guides/upstream-sync-guide.md
  patches/fork/01-gost-secure-random.patch
  src/core/vendor/gost/gostRandom.mjs
Due: core-tests

fix(ci): cover src/node deletions and restore the synced_files output
  .github/workflows/upstream-sync.yml
Due: none

fix(ci): correct a dependabot comment and drop an ignore built on a false premise
  .github/dependabot.yml
Due: none

ci: bump artifact actions to the actual latest majors (v7 / v8)
  .github/workflows/performance-benchmarks.yml
  .github/workflows/security-scan.yml
Due: none

ci: exclude js/incomplete-sanitization, which fires only on mirrored upstream code
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix(ci): agy guard no longer enumerates backend failure signatures
  scripts/agy-review-selftest.sh
  scripts/agy-review.sh
Due: none

docs(ci): stop overclaiming minimum review length in the agy guard
  scripts/agy-review.sh
Due: none

fix: untrack the generated HTMLEntities.mjs and document the bcrypt prefix change
  src/core/lib/HTMLEntities.mjs
Due: core-tests

fix: gitignore the generated HTMLEntities.mjs and record the bcrypt prefix change
  .gitignore
  CHANGELOG.md
Due: none

ci(deps): bump docker/build-push-action from v6 to v7 in the last two workflows
  .github/workflows/mcp-docker-build.yml
  .github/workflows/mcp-release.yml
Due: none

fix(security): clear every open alert on master, fixed or justified
  .github/workflows/security-scan.yml
  .trivyignore
  CHANGELOG.md
  Dockerfile.mcp
  Gruntfile.js
  SECURITY.md
  docs/security/2026-08-31-open-alert-sweep.md
  docs/security/audit.md
  package-lock.json
  package.json
  src/core/operations/ShowBase64Offsets.mjs
  tests/mcp/cve-regressions.test.mjs
Due: core-tests, Core Operations

ci: close the three agy follow-ups and stop the benchmark comment pile-up
  .github/workflows/performance-benchmarks.yml
  CHANGELOG.md
  scripts/_agy_print.sh
  scripts/agy-review.sh
Due: none

test(security): strengthen the CVE-2026-42615 regression, align the trivy gate
  .github/workflows/security-scan.yml
  .trivyignore
  tests/mcp/cve-regressions.test.mjs
Due: none

docs(security): finish the SECURITY.md refresh CodeRabbit caught half-done
  SECURITY.md
Due: none

fix(ci): own the benchmark comment before updating it, and read prompts dash-safely
  .github/workflows/performance-benchmarks.yml
  CHANGELOG.md
  scripts/_agy_print.sh
Due: none

fix: array-based cleanup, GPL header, and correct a false CHANGELOG claim
  .github/workflows/performance-benchmarks.yml
  CHANGELOG.md
  scripts/agy-review.sh
  tests/mcp/cve-regressions.test.mjs
Due: none

fix: distinguish "no argument" from "empty argument" in _agy_print.sh
  scripts/_agy_print.sh
Due: none

fix(transport): give every HTTP client its own session, and withdraw DEP001/007/008
  CHANGELOG.md
  Dockerfile.mcp
  README.md
  docs/guides/http-transport.md
  docs/releases/v1.8.0.md
  docs/v2.0.0-breaking-changes.md
  src/node/deprecation.mjs
  src/node/mcp-server.mjs
  src/node/transports.mjs
  tests/mcp/deprecation.test.mjs
  tests/mcp/http-transport-sessions.test.mjs
  tests/mcp/migration-preview.test.mjs
Due: mcp-tests, MCP Server

fix(transport): normalise the session-id header before routing on it
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: none

fix(transport): answer CORS preflights, sever keep-alives on close, no bare void
  CHANGELOG.md
  README.md
  docs/guides/http-transport.md
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: none

fix: route progress notifications per session; correct the migration examples
  docs/v2.0.0-breaking-changes.md
  src/node/mcp-server.mjs
  tests/mcp/deprecation.test.mjs
Due: mcp-tests, MCP Server

fix(transport): sever the socket on 413, echo the request id, shut down on signals
  src/node/mcp-server.mjs
  src/node/streaming.mjs
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: mcp-tests, MCP Server

fix: one handler-registration site, plain req.destroy on 413, clearer empty body
  src/node/deprecation.mjs
  src/node/mcp-server.mjs
  src/node/transports.mjs
  tests/mcp/deprecation.test.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: mcp-tests, MCP Server

fix(transport): order the 413 socket teardown on `finish`, not on the call
  src/node/mcp-server.mjs
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: mcp-tests, MCP Server

fix: bind the session's server as the notification fallback; drop a dead guard
  src/node/mcp-server.mjs
  src/node/transports.mjs
Due: mcp-tests, MCP Server

fix(transport): reject on a real close error instead of resolving with it
  src/node/transports.mjs
Due: none

fix(transport): send Vary: Origin on rejected origins too, not only allowed ones
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: none

fix(transport): route only the MCP endpoint path, and log teardown failures
  README.md
  docs/guides/http-transport.md
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: none

fix(transport): cap concurrent sessions, and check the path before the preflight
  CHANGELOG.md
  README.md
  docs/guides/http-transport.md
  src/node/transports.mjs
  tests/mcp/http-transport-sessions.test.mjs
Due: none

fix: exit 128+signum on a signal, and document the reverse-proxy case
  docs/guides/http-transport.md
  src/node/mcp-server.mjs
Due: mcp-tests, MCP Server

docs: bring every living document up to the v2.0.0 state
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/architecture/architecture.md
  docs/architecture/performance-tuning.md
  docs/guides/upstream-sync-guide.md
  docs/guides/user_guide.md
  docs/planning/ROADMAP.md
  docs/planning/ext-proj-int/README.md
  docs/planning/phases/overview.md
  docs/planning/tasks.md
  docs/releases/v2.0.0.md
  package.json
  src/node/lib/config.mjs
  tests/mcp/baseline.json
  tests/mcp/handler-dispatch.test.mjs
  tests/mcp/mcp-server.test.mjs
  tests/mcp/migration-preview.test.mjs
  tests/mcp/server-integration.test.mjs
Due: mcp-tests, MCP Server

docs: fix the offline-install version mismatch, restore [Unreleased], correct the UID
  CHANGELOG.md
  docs/guides/user_guide.md
Due: none

fix: make the one-source-of-truth claim actually true, and stop escaping UTF-8
  .github/workflows/upstream-sync.yml
  CHANGELOG.md
  src/node/lib/config.mjs
  tests/mcp/baseline.json
Due: mcp-tests, MCP Server

test: assert the version's SHAPE instead of comparing it to itself
  docs/planning/phases/overview.md
  docs/planning/tasks.md
  tests/mcp/handler-dispatch.test.mjs
  tests/mcp/mcp-server.test.mjs
  tests/mcp/migration-preview.test.mjs
  tests/mcp/server-integration.test.mjs
Due: none

docs: unambiguous v1 image note, restore the coverage row with real numbers
  AGENTS.md
  README.md
Due: none
